.header {
  min-height: 156px;
  background-image: url("../../assets/images/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary);
}

@media (min-width: 1024px) {
  .header {
    background-image: url("../../assets/images/bg-header-desktop.svg");
  }
}
